body {
    /*vh: unité relative à 1% de la hauteur du viewport (la zone d'affichage).*/
    /*"margin:0;" permet d'annuler le margin mis par défaut par les navigateurs*/
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color:#1b1b32;
    color:#f5f6f7;
}

label{
    /*le "em" correspond à la taille de la police de caractère de l’élément en cours
    le « rem » permet de définir une valeur constante tout le long du document égale à la taille de la police de l’élément racine
    Cette unité peut être alors utilisée pour créer des éléments et propriétés CSS responsives puisque qu’elle s’adaptera à la taille de la police du support d’affichage
    référence: https://www.codeur.com/tuto/css/unite-de-mesure-taille-px-em-rem/*/
    display: block;
    margin: 0.5rem 0;
}